# Optimal countries for living

This notebook will compute the most optimal country for living conditions by my standards using the CIA wordfact book dataset.
Each country will get a score that will be affected by the following columns. Population density; The biggest area per person will be the most optimal, Birth rate; The smallest birth rate will be the most optimal, Real GDP per capita; the highest will be optimal. Geographic conditions; I will choose hot countries that are less than 35 degrees latitude.

In [99]:
import pandas as pd
import numpy as np
import re

In [100]:
df = pd.read_csv(r"C:\Users\farfu\notebooks\datasets\countries.csv")

#vartriable that will activate a courdinates function
cord = False

# with GDP
#df = df[["Country","Geography: Area - total", "People and Society: Population", "People and Society: Birth rate", "Economy: Real GDP per capita"]]

# without GDP
# df = df[["Country","Geography: Area - total", "People and Society: Population", "People and Society: Birth rate"]]

# with cordinats less the 35 for nice climete and GDP
df = df[["Country","Geography: Area - total", "People and Society: Population", "People and Society: Birth rate", "Economy: Real GDP per capita","Geography: Geographic coordinates"]]
cord = True

Country                                                                     Gaza Strip
Geography: Area - total                                                      360 sq km
People and Society: Population                                   1,997,328 (2022 est.)
People and Society: Birth rate               27.67 births/1,000 population (2022 est.)
Economy: Real GDP per capita         $5,600 (2021 est.)$5,400 (2020 est.)$6,200 (20...
Geography: Geographic coordinates                                     31 25 N, 34 20 E
Name: 86, dtype: object

## cleaning the data

In [101]:
def extract_first_numeric(cell):
    # Check if the input is a string
    if isinstance(cell, str):
        # Use a regular expression to find the first numeric value
        match = re.search(r'([\d,.]+)', cell)
        
        # If a match is found and the group is not empty, convert to numeric; otherwise, return NaN
        if match and match.group():
            try:
                return float(match.group().replace(',', ''))
            except ValueError:
                return np.nan
        else:
            return np.nan
    else:
        return np.nan
    
# Loop through all columns and convert values to numeric
for column in df.columns:
    print(column)
    if column != "Country":
        # Apply the extraction function to the specified column
        df[column] = df[column].apply(extract_first_numeric)
        
        # loop cells and drop ones that have courdinets that are bigger then 35N and 35S
        if cord == True:
            if column == "Geography: Geographic coordinates":
                for row in range(df.shape[0]):
                    if df.loc[row,column] > 35:                       
                        df = df.drop(row)
                        
        
        

#         df[column] = pd.to_numeric(df[column].str.extract(r'([\d.]+)').iloc[:, 0], errors='coerce')
#         df[column] = df[column].str.extract(r'([\d.]+)')
#         df[column] = pd.to_numeric(df[column], errors='coerce')

Country
Geography: Area - total
People and Society: Population
People and Society: Birth rate
Economy: Real GDP per capita
Geography: Geographic coordinates
33.0
34.0
41.0
28.0
14.0
42.0
12.0
18.0
90.0
17.0
34.0
40.0
12.0
12.0
27.0
47.0
40.0
24.0
26.0
nan
24.0
13.0
53.0
50.0
17.0
9.0
32.0
27.0
17.0
44.0
22.0
54.0
10.0
6.0
18.0
4.0
43.0
13.0
22.0
3.0
16.0
13.0
6.0
60.0
19.0
7.0
15.0
30.0
35.0
10.0
10.0
12.0
4.0
12.0
0.0
1.0
21.0
18.0
10.0
45.0
21.0
12.0
35.0
49.0
56.0
34.0
11.0
15.0
19.0
2.0
27.0
13.0
2.0
15.0
59.0
26.0
8.0
51.0
62.0
18.0
64.0
nan
15.0
nan
1.0
13.0
31.0
42.0
51.0
8.0
36.0
39.0
72.0
12.0
13.0
15.0
49.0
11.0
12.0
5.0
19.0
53.0
41.0
15.0
22.0
nan
47.0
65.0
20.0
5.0
32.0
33.0
53.0
54.0
31.0
42.0
18.0
71.0
36.0
nan
49.0
nan
31.0
48.0
1.0
nan
1.0
40.0
37.0
42.0
29.0
41.0
18.0
57.0
33.0
29.0
6.0
25.0
47.0
56.0
49.0
22.0
20.0
13.0
2.0
3.0
17.0
35.0
9.0
20.0
20.0
23.0
6.0
nan
47.0
43.0
46.0
42.0
16.0
28.0
18.0
22.0
0.0
18.0
28.0
52.0
21.0
41.0
13.0
16.0
10.0
19.0
29.0
41.0
15.0
62.0
21.0
30.0
7.0
nan
9.0
6.0
16.0
23.0
10.0
13.0
25.0
52.0
39.0
18.0
25.0
46.0
60.0
2.0
17.0
nan
17.0
13.0
18.0
46.0
13.0
13.0
43.0
1.0
25.0
14.0
44.0
4.0
8.0
1.0
18.0
48.0
46.0
8.0
10.0
29.0
8.0
40.0
8.0
7.0
15.0
4.0
78.0
62.0
47.0
35.0
23.0
39.0
6.0
15.0
8.0
8.0
9.0
20.0
11.0
34.0
39.0
40.0
21.0
8.0
1.0
49.0
24.0
54.0
38.0
33.0
41.0
16.0
8.0
16.0
18.0
19.0
13.0
32.0
nan
15.0
15.0
20.0

In [102]:
df.head

<bound method NDFrame.head of             Country  Geography: Area - total  People and Society: Population  \
0       Afghanistan               652230.000                    3.834672e+07
1          Akrotiri                  123.000                    2.020000e+03
3           Algeria              2381740.000                    4.417888e+07
4    American Samoa                  224.000                    4.544300e+04
6            Angola              1246700.000                    3.479529e+07
..              ...                      ...                             ...
253       West Bank                 5860.000                    3.000021e+06
254           World                  510.072                    7.905337e+09
255           Yemen               527968.000                    3.098469e+07
256          Zambia               752618.000                    1.964212e+07
257        Zimbabwe               390757.000                    1.512100e+07

     People and Society: Birth rate  Economy: Real GDP per capita  \
0                             35.46                        1500.0
1                               NaN                           NaN
3                             18.52                       11000.0
4                             16.70                       11200.0
6                             41.80                        5900.0
..                              ...                           ...
253                           24.42                        5600.0
254                           18.10                       17000.0
255                           24.64                        2500.0
256                           34.86                        3200.0
257                           33.07                        2100.0

     Geography: Geographic coordinates
0                                 33.0
1                                 34.0
3                                 28.0
4                                 14.0
6                                 12.0
..                                 ...
253                               32.0
254                                NaN
255                               15.0
256                               15.0
257                               20.0

[186 rows x 6 columns]>

In [104]:
# create population densety column
df["Population densety"] = df["Geography: Area - total"] / df["People and Society: Population"]

## Normalizing the data by rank or by max scaled

In [105]:
# copy the data 
df_n = df.copy() 
  
# apply normalization techniques 

# normaliztion with max scaled techniqe (dident give a prortional result)
# for column in df_n.columns:
#     if column != "Country":
#         df_n[column] = df_n[column]  / df_n[column].abs().max() 


# Normalize each column based on its order

# Function to normalize a column based on its order rank
def normalize_by_order(column):
    ranked_values = column.rank(na_option='bottom', method='min')
    normalized_values = ranked_values / len(column)
    return normalized_values

# Normalize each column based on its order rank
for column in df_n.columns:
    if column != "Country":
        df_n[column] = normalize_by_order(df_n[column])

In [106]:
df_n.head

<bound method NDFrame.head of             Country  Geography: Area - total  People and Society: Population  \
0       Afghanistan                 0.784946                        0.795699
1          Akrotiri                 0.129032                        0.043011
3           Algeria                 0.930108                        0.806452
4    American Samoa                 0.166667                        0.139785
6            Angola                 0.881720                        0.779570
..              ...                      ...                             ...
253       West Bank                 0.365591                        0.440860
254           World                 0.258065                        0.940860
255           Yemen                 0.741935                        0.752688
256          Zambia                 0.801075                        0.682796
257        Zimbabwe                 0.709677                        0.645161

     People and Society: Birth rate  Economy: Real GDP per capita  \
0                          0.795699                      0.048387
1                          0.876344                      0.881720
3                          0.473118                      0.473118
4                          0.381720                      0.478495
6                          0.865591                      0.327957
..                              ...                           ...
253                        0.623656                      0.301075
254                        0.456989                      0.607527
255                        0.629032                      0.145161
256                        0.784946                      0.177419
257                        0.758065                      0.091398

     Geography: Geographic coordinates  Population densety
0                             0.881720            0.602151
1                             0.903226            0.854839
3                             0.801075            0.817204
4                             0.408602            0.322581
6                             0.295699            0.741935
..                                 ...                 ...
253                           0.865591            0.107527
254                           0.946237            0.010753
255                           0.419355            0.607527
256                           0.419355            0.747312
257                           0.634409            0.720430

[186 rows x 7 columns]>

In [107]:
# drop col that is not relevent
df_n = df_n.drop(["People and Society: Population", "Geography: Area - total"],axis="columns")

In [108]:
df_n.loc[170,"People and Society: Birth rate"]

0.7795698924731183

In [109]:
# convert birth rate column to fit lower birth rate = larger number
df_n["People and Society: Birth rate"] = 1 - df_n["People and Society: Birth rate"]

## coucalate the best countreis

In [110]:
# # make a general score for each country

# Create an empty "Score" column
df_n["Score"] = 0

for column in df_n.columns:
    if column != "Country":
        df_n["Score"] += df_n[column]

In [111]:
# Display the top 10 scored countries
top_countries = df_n.nlargest(40,"Score")
print(top_countries)

                                           Country  \
14                                       Australia
245                                        Uruguay
204                                   Saudi Arabia
47                                           Chile
81                                          France
10                                       Argentina
195  Saint Helena, Ascension, and Tristan da Cunha
62                                          Cyprus
166                                  New Caledonia
17                                    Bahamas, The
242                           United Arab Emirates
19                                    Baker Island
83             French Southern and Antarctic Lands
105                                 Howland Island
119                                  Jarvis Island
121                                 Johnston Atoll
125                                   Kingman Reef
153                                 Midway Islands
179                                  Palmyra Atoll
190                                          Qatar
48                                           China
250                                 Virgin Islands
56                                    Cook Islands
110                                           Iran
137                                          Libya
158                                     Montserrat
1                                         Akrotiri
176                                           Oman
147                                          Malta
183                                       Paraguay
151                                         Mexico
186                               Pitcairn Islands
27                                          Bhutan
26                                         Bermuda
30                                        Botswana
238                       Turks and Caicos Islands
3                                          Algeria
235                                        Tunisia
44                                  Cayman Islands
60                                            Cuba

     People and Society: Birth rate  Economy: Real GDP per capita  \
14                         0.833333                      0.833333
245                        0.806452                      0.693548
204                        0.736559                      0.811828
47                         0.801075                      0.715054
81                         0.876344                      0.822581
10                         0.672043                      0.677419
195                        0.956989                      0.370968
62                         0.924731                      0.795699
166                        0.741935                      0.747312
17                         0.715054                      0.741935
242                        0.913978                      0.860215
19                         0.123656                      0.881720
83                         0.123656                      0.881720
105                        0.123656                      0.881720
119                        0.123656                      0.881720
121                        0.123656                      0.881720
125                        0.123656                      0.881720
153                        0.123656                      0.881720
179                        0.123656                      0.881720
190                        0.962366                      0.870968
48                         0.940860                      0.623656
250                        0.881720                      0.784946
56                         0.817204                      0.602151
110                        0.698925                      0.596774
137                        0.451613                      0.688172
158                        0.903226                      0.758065
1                          0.123656                      0.881720
176                        0.435484                      0.768817
147                        0.951613                      0.817204
183                        0.645161                      0.537634
151                        0.774194                      0.645161
186                        0.123656                      0.881720
27                         0.655914                      0.462366
26                         0.892473                      0.865591
30                         0.489247                      0.586022
238                        0.779570                      0.629032
3                          0.526882                      0.473118
235                        0.720430                      0.440860
44                         0.870968                      0.854839
60                         0.935484                      0.505376

     Geography: Geographic coordinates  Population densety     Score
14                            0.784946            0.930108  6.763441
245                           0.881720            0.811828  6.387097
204                           0.752688            0.849462  6.301075
47                            0.838710            0.779570  6.268817
81                            0.946237            0.462366  6.215054
10                            0.903226            0.844086  6.193548
195                           0.946237            0.801075  6.150538
62                            0.924731            0.392473  6.075269
166                           0.666667            0.870968  6.053763
17                            0.736559            0.758065  5.903226
242                           0.736559            0.430108  5.881720
19                            0.946237            0.946237  5.795699
83                            0.946237            0.946237  5.795699
105                           0.946237            0.946237  5.795699
119                           0.946237            0.946237  5.795699
121                           0.946237            0.946237  5.795699
125                           0.946237            0.946237  5.795699
153                           0.946237            0.946237  5.795699
179                           0.946237            0.946237  5.795699
190                           0.752688            0.290323  5.752688
48                            0.924731            0.365591  5.709677
250                           0.543011            0.623656  5.666667
56                            0.666667            0.725806  5.623656
110                           0.865591            0.645161  5.612903
137                           0.752688            0.908602  5.602151
158                           0.478495            0.634409  5.548387
1                             0.903226            0.854839  5.526882
176                           0.666667            0.876344  5.494624
147                           0.924731            0.048387  5.483871
183                           0.720430            0.822581  5.451613
151                           0.720430            0.569892  5.419355
186                           0.752688            0.940860  5.397849
27                            0.784946            0.790323  5.387097
26                            0.865591            0.053763  5.354839
30                            0.693548            0.903226  5.344086
238                           0.666667            0.586022  5.322581
3                             0.801075            0.817204  5.236559
235                           0.903226            0.548387  5.225806
44                            0.607527            0.268817  5.204301
60                            0.666667            0.489247  5.193548

In [112]:
top_indices = top_countries.index.tolist()
rearranged_df = df.reindex(top_indices)
rearranged_df.head

<bound method NDFrame.head of                                            Country  Geography: Area - total  \
14                                       Australia                7741220.0
245                                        Uruguay                 176215.0
204                                   Saudi Arabia                2149690.0
47                                           Chile                 756102.0
81                                          France                 643801.0
10                                       Argentina                2780400.0
195  Saint Helena, Ascension, and Tristan da Cunha                    394.0
62                                          Cyprus                   9251.0
166                                  New Caledonia                  18575.0
17                                    Bahamas, The                  13880.0
242                           United Arab Emirates                  83600.0
19                                    Baker Island                      NaN
83             French Southern and Antarctic Lands                      NaN
105                                 Howland Island                      NaN
119                                  Jarvis Island                      NaN
121                                 Johnston Atoll                      NaN
125                                   Kingman Reef                      NaN
153                                 Midway Islands                      NaN
179                                  Palmyra Atoll                      NaN
190                                          Qatar                  11586.0
48                                           China                9596960.0
250                                 Virgin Islands                   1910.0
56                                    Cook Islands                    236.0
110                                           Iran                1648195.0
137                                          Libya                1759540.0
158                                     Montserrat                    102.0
1                                         Akrotiri                    123.0
176                                           Oman                 309500.0
147                                          Malta                    316.0
183                                       Paraguay                 406752.0
151                                         Mexico                1964375.0
186                               Pitcairn Islands                     47.0
27                                          Bhutan                  38394.0
26                                         Bermuda                     54.0
30                                        Botswana                 581730.0
238                       Turks and Caicos Islands                    948.0
3                                          Algeria                2381740.0
235                                        Tunisia                 163610.0
44                                  Cayman Islands                    264.0
60                                            Cuba                 110860.0

     People and Society: Population  People and Society: Birth rate  \
14                     2.614137e+07                           12.30
245                    3.407213e+06                           12.71
204                    3.535438e+07                           14.22
47                     1.843041e+07                           12.75
81                     6.830515e+07                           11.66
10                     4.624567e+07                           15.58
195                    7.925000e+03                            9.34
62                     1.295102e+06                           10.57
166                    2.971600e+05                           14.13
17                     3.556080e+05                           14.64
242                    9.915803e+06                           10.81
19                              NaN                             NaN
83                              NaN                             NaN
105                             NaN                             NaN
119                             NaN                             NaN
121                             NaN                             NaN
125                             NaN                             NaN
153                             NaN                             NaN
179                             NaN                             NaN
190                    2.508182e+06                            9.33
48                     1.410540e+09                            9.93
250                    1.054130e+05                           11.63
56                     8.128000e+03                           12.55
110                    8.675830e+07                           15.27
137                    7.137931e+06                           21.56
158                    5.414000e+03                           10.90
1                      2.020000e+03                             NaN
176                    3.764348e+06                           22.11
147                    4.641860e+05                            9.73
183                    7.356409e+06                           16.32
151                    1.291510e+08                           13.55
186                    5.000000e+01                             NaN
27                     8.677750e+05                           15.94
26                     7.233700e+04                           11.03
30                     2.384246e+06                           20.28
238                    5.828600e+04                           13.54
3                      4.417888e+07                           18.52
235                    1.189697e+07                           14.62
44                     6.430900e+04                           11.69
60                     1.100811e+07                           10.11

     Economy: Real GDP per capita  Geography: Geographic coordinates  \
14                        49800.0                               27.0
245                       22800.0                               33.0
204                       44300.0                               25.0
47                        25400.0                               30.0
81                        45000.0                                NaN
10                        21500.0                               34.0
195                        7800.0                                NaN
62                        41700.0                               35.0
166                       31100.0                               21.0
17                        30200.0                               24.0
242                       69700.0                               24.0
19                            NaN                                NaN
83                            NaN                                NaN
105                           NaN                                NaN
119                           NaN                                NaN
121                           NaN                                NaN
125                           NaN                                NaN
153                           NaN                                NaN
179                           NaN                                NaN
190                       92900.0                               25.0
48                        17600.0                               35.0
250                       37000.0                               18.0
56                        16700.0                               21.0
110                       15000.0                               32.0
137                       22000.0                               25.0
158                       34000.0                               16.0
1                             NaN                               34.0
176                       34300.0                               21.0
147                       44700.0                               35.0
183                       13700.0                               23.0
151                       19100.0                               23.0
186                           NaN                               25.0
27                        10900.0                               27.0
26                        80300.0                               32.0
30                        14800.0                               22.0
238                       18500.0                               21.0
3                         11000.0                               28.0
235                       10400.0                               34.0
44                        67500.0                               19.0
60                        12300.0                               21.0

     Population densety
14             0.296129
245            0.051718
204            0.060804
47             0.041025
81             0.009425
10             0.060122
195            0.049716
62             0.007143
166            0.062508
17             0.039032
242            0.008431
19                  NaN
83                  NaN
105                 NaN
119                 NaN
121                 NaN
125                 NaN
153                 NaN
179                 NaN
190            0.004619
48             0.006804
250            0.018119
56             0.029035
110            0.018998
137            0.246506
158            0.018840
1              0.060891
176            0.082219
147            0.000681
183            0.055292
151            0.015210
186            0.940000
27             0.044244
26             0.000747
30             0.243989
238            0.016265
3              0.053911
235            0.013752
44             0.004105
60             0.010071  >

## save the result as csv file

In [113]:
# rearranged_df.to_csv(r'C:\Users\farfu\notebooks\top_40_countrys_to_live with cordinets and GDP.csv', index=False)

Country                              Gaza Strip
Geography: Area - total                   360.0
People and Society: Population        1997328.0
People and Society: Birth rate            27.67
Economy: Real GDP per capita             5600.0
Geography: Geographic coordinates          31.0
Population densety                      0.00018
Name: 86, dtype: object